<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
    background-color: aquamarine;
}
.search {
    padding: 70px 0;
    text-align: center;
    margin-right: 40px;
    margin-left: 40px;
}
.word_in {
    padding: 10px;
}
button {
    padding: 10px;
}

    </style>
</head>
<body>
    <div class="search">
        <h2>Search the Dictionary</h2>
    
    <form action="word">
    <input type="text" name = "search" class="word_in" placeholder="Input your word here"></input>
    <button type="submit">Search</button>
</div>
</form>
</body>
</html>